@charset "utf-8";

:root{ /*set de configurações utilizáveis configurações*/
    --color1:rgb(66, 17, 68) ; 
    --color2:#A8193F;
    --color3:#5C2937;
    --color4:#DB2154;
    --color5:#E16586;
    --color6:#5C0E23;
}

  @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); /*allura*/
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap'); /*yeseva one*/
  @font-face {
    font-family:Explora-Regular ;
    src: url(../fonts/Explora-Regular.ttf);
  }
  @font-face {
    font-family:Aboreto-Regular ;
    src: url(../fonts/Aboreto-Regular.ttf);
  }
  @font-face {
    font-family:BadScript ;
    src: url(../fonts/BadScript-Regular.ttf);
  }
*{
    margin: 0px;
    padding: 0px;
    
}body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    max-width: 1200px;
    margin: auto;
}header{
    background-color: bisque;
    height: 300px;
    background-image: url("../imagens/garrafa-fundo.jpg");
    background-size: 1200px; /*imagem grande de mais para cobrir corretamente o cabeçalho*/
    background-repeat: no-repeat;
    background-position: center; /*utilização pra centralizar a imagem até achar o tamanho ideal */
    
}h1{
    font-size: 6em;
    font-weight: bolder;
    font-family: Explora-Regular;
    color: white;
    padding-top: 100px;
    text-shadow: 1px 2px 4px rgb(90, 86, 86);
    
}h1:hover{
    text-shadow: 2px 6px 8px rgb(122, 13, 172);
    color: rgb(255, 255, 255);
}nav{
    background-color: var(--color1);
    display: block;
}nav > a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
footer > p > a{
    text-decoration: none;
    color: rgb(36, 219, 158);
    font-weight: bolder;
    text-shadow: 2px 1px 2px black;

}.imagem{
    
    max-width: 1200px;
    
    padding: 200px;
    justify-content: center;
    color: var(--color5);
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
    font-size: 1.2em;
    font-family: BadScript;
    text-align: left;
    
}.imagem > p {
    margin: auto;
}
header > h1{
padding: 30px;    

}header{
    max-width: 1200px;
    text-align: center;
}nav{
    padding: 20px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.356);
}
.texto{
    padding: 80px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 3px 1px 14px 0px rgb(0 0 0 / 60%);
    font-family: Aboreto-Regular;
    color: var(--color1);
    
      
}section#img1 {
    background-image: url("../imagens/barril-fundo.jpeg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    
    
     
}section#img2{
    background-image: url("../imagens/rolha-fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}section#img3{
    background-image: url("../imagens/vinicula-fundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
   
}footer{
        text-align: center; 
        padding: 30px;
        background-color: #24040c;
        color: white;
        font-size: 1.2em;
}a:hover{
    color: crimson;
}