@charset "utf-8";

:root{ /*set de configurações utilizáveis configurações*/
    --color1:rgb(66, 17, 68) ; 
}

*{
    margin: 0px;
    padding: 0px;
    
}body{
    font-family: Arial, Helvetica, sans-serif;
}header{
    background-color: bisque;
    height: 300px;
    background-image: url("../imagens/garrafa-fundo.jpg");
    background-size: 900px; /*imagem grande de mais para cobrir corretamente o cabeçalho*/
    background-repeat: no-repeat;
    background-position: center; /*utilização pra centralizar a imagem até achar o tamanho ideal */
    
}
footer > p > a{
    text-decoration: none;
    color: rgb(41, 187, 138);

}.imagem{
    max-height: 450px;
    max-width: 1200px;
    margin: auto;
    padding: 200px;
    
}header > h1{
    

}
.texto{
    padding: 60px;
    max-width: 1200px;
    margin: auto;
    box-shadow:  inset 3px 1px 14px 0px rgb(0 0 0 / 60%);
    background-image: url(../imagens/papel.jpg);
    color: var(--color1);
      
}section#img1 {
    background-image: url("../imagens/barril-fundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    max-height: 200px;
    
    
}section#img2{
    background-image: url("../imagens/rolha-fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}section#img3{
    background-image: url("../imagens/vinicula-fundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
}