@charset "utf-8";


*{
    margin: 0px;
    padding: 0px;
    
}body{
    font-family: Arial, Helvetica, sans-serif;
}header{
    background-color: bisque;
    height: 300px;
}
footer > p > a{
    text-decoration: none;
    color: rgb(41, 187, 138);

}.imagem{
    max-height: 450px;
    max-width: 1200px;
    margin: auto;
    padding: 200px;
    
}.texto{
    padding: 30px;
    max-width: 1200px;
    margin: auto;
      
}section#img1 {
    background-image: url("../imagens/barril-fundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    
}section#img2{
    background-image: url("../imagens/rolha-fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}section#img3{
    background-image: url("../imagens/vinicula-fundo.jpeg");
    background-size: cover;
    background-attachment: fixed;
}